.icon-filter {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3e%3cpath d='M47.795 1.33c.386.931.227 1.727-.477 2.386L30.536 20.523v25.295c0 .955-.443 1.625-1.328 2.012-.295.113-.578.17-.851.17-.612 0-1.123-.216-1.532-.648l-8.714-8.727c-.431-.432-.647-.943-.647-1.534V20.523L.682 3.716C-.022 3.057-.181 2.261.205 1.33.591.443 1.26 0 2.213 0h43.574c.953 0 1.622.443 2.008 1.33z'%3e%3c/path%3e%3c/svg%3e") no-repeat;
}
.icon-refresh {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3e%3cpath d='M48 4v14a1.92 1.92 0 0 1-.594 1.406A1.92 1.92 0 0 1 46 20H32c-.875 0-1.49-.417-1.844-1.25-.354-.813-.208-1.531.438-2.156l4.312-4.313C31.823 9.427 28.187 8 24 8a15.58 15.58 0 0 0-6.203 1.266c-1.969.843-3.672 1.984-5.11 3.421-1.437 1.438-2.578 3.141-3.421 5.11A15.58 15.58 0 0 0 8 24c0 2.167.422 4.234 1.266 6.203.843 1.969 1.984 3.672 3.421 5.109 1.438 1.438 3.141 2.579 5.11 3.422A15.58 15.58 0 0 0 24 40a15.76 15.76 0 0 0 7.031-1.625 15.69 15.69 0 0 0 5.594-4.594c.146-.208.385-.333.719-.375.291 0 .552.094.781.282L42.406 38c.188.167.287.38.297.641.011.26-.068.494-.234.703a23.459 23.459 0 0 1-8.25 6.39A23.825 23.825 0 0 1 24 48c-3.25 0-6.354-.635-9.313-1.906-2.958-1.271-5.51-2.979-7.656-5.125s-3.854-4.698-5.125-7.656A23.352 23.352 0 0 1 0 24c0-3.25.635-6.354 1.906-9.313 1.271-2.958 2.979-5.51 5.125-7.656s4.698-3.854 7.656-5.125A23.352 23.352 0 0 1 24 0c3.063 0 6.026.578 8.891 1.734a24.277 24.277 0 0 1 7.64 4.891l4.063-4.031c.604-.646 1.333-.792 2.187-.438C47.594 2.51 48 3.125 48 4z'%3e%3c/path%3e%3c/svg%3e") no-repeat;
}
.icon-chevron-down-regular {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3e%3cpath d='M6.161 11.468a3.625 3.625 0 0 0-5.103 0 3.555 3.555 0 0 0 0 5.061l20.389 20.003a3.631 3.631 0 0 0 5.108 0l20.389-20.003a3.56 3.56 0 0 0 0-5.061 3.625 3.625 0 0 0-5.103 0L23.993 27.873 6.161 11.468z'%3e%3c/path%3e%3c/svg%3e") no-repeat;
}
.icon-chevron-up-regular {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3e%3cpath d='M6.161 36.532a3.625 3.625 0 0 1-5.103 0 3.555 3.555 0 0 1 0-5.061l20.389-20.003a3.631 3.631 0 0 1 5.108 0l20.389 20.003a3.56 3.56 0 0 1 0 5.061 3.625 3.625 0 0 1-5.103 0L23.993 20.127 6.161 36.532z'%3e%3c/path%3e%3c/svg%3e") no-repeat;
}

/*h3 {display:inline;}*/

.asap-header .alert {position:fixed;margin: 0;}
.asap-footer li .remove {background:none;}

input[type=checkbox]:checked, input[type=checkbox]:not(:checked), input[type=radio]:checked, input[type=radio]:not(:checked) {display:none;}
.radio-group {display:flex;    margin: 1rem 0;}
.radio-group .radio {margin-right:2rem;}

.asap-bootstrap-select {margin-bottom: 3rem;}
.asap-bootstrap-select .btn {height: 3.6rem;}
.asap-bootstrap-select .bs-actionsbox .btn-group, .asap-bootstrap-select .bs-actionsbox .bs-deselect-all {width: 10rem;} 
.asap-bootstrap-select .bs-actionsbox .bs-select-all {display: none;} 
.asap-bootstrap-select .dropdown-header {display:none;}
.asap-bootstrap-select .bs-caret .caret {border: 0; cursor: pointer;padding-right: 0;background:url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' width='30px' height='30px' preserveAspectRatio='xMinYMid' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M19.73 12.35c-.4-.4-.9-.4-1.35 0l-3.4 3.25-3.35-3.25c-.45-.4-.998-.4-1.348 0-.4.4-.35 1.05 0 1.4.35.35 4.05 3.9 4.05 3.9.2.2.45.3.7.3.25 0 .5-.1.7-.3 0 0 3.7-3.5 4.05-3.9.3-.35.3-1-.05-1.4z' fill='%23444' fill-rule='nonzero'/%3E%3C/svg%3E") right center no-repeat;height: 2rem;width: 2rem;margin: 0;right: 0 !important;padding: 0;top: 1.15rem !important;}

.asap-bootstrap-select .bootstrap-select.btn-group .dropdown-menu.inner {max-height: 250px !important;}

.page-body .sub-head h1 {margin: 0;display:inline-block;}
.page-body .sub-head a {display: inline-block;height: 100%;line-height: 48px;float: left;margin-right: 15px;}
.page-body .sub-head a:hover {text-decoration:none;}
.page-body .sub-head a .icon {width:12px;}
.page-body .sub-head a .icon svg {fill: #1D67B2;}
.page-head .icon-alert-status {width: 10px;height: 10px;display: inline-block;border-radius: 50%;background:#C90107;}
.page-body hr {clear:both;margin:0}


/* page tile grid */
.page-tiles {display: grid;display: -ms-grid;grid-template-rows: auto;-ms-grid-rows: auto;transition: all .5s ease;height: 100%;float: right;}
.col-three {grid-template-columns: 55% 15px 1fr;-ms-grid-columns: 55% 15px 1fr;}
.col-five {grid-template-columns: 1fr 15px 1fr 15px 1fr;-ms-grid-columns: 1fr 15px 1fr 15px 1fr;}
.col-seven {display: grid;height: 100%;grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;/*grid-template-rows: 1fr 1fr 1fr 1fr;*/display: -ms-grid;-ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;/*-ms-grid-rows: 1fr 1fr 1fr 1fr;*/-ms-grid-rows: auto auto auto auto;}

/* Mobile First */
.page-tile {grid-column-start: 1;grid-column-end: 12;-ms-grid-column: 1;-ms-grid-column-span: 12;-ms-grid-row: auto;width:100%;}

[class^="group"] {grid-column-start: 1;grid-column-end: 12;-ms-grid-column: 1;-ms-grid-column-span: 12;-ms-grid-row: auto;width: 100%;padding:0;}
.group-action-items {-ms-grid-row: 1;-ms-grid-row-span: 1;}
.group-title-direct {-ms-grid-row: 2;-ms-grid-row-span: 1;}
.group-title-stock-search {-ms-grid-row: 3;-ms-grid-row-span: 1;}
.group-submit-to-dmv {-ms-grid-row: 4;-ms-grid-row-span: 1;}
.group-title-work-only {-ms-grid-row: 5;-ms-grid-row-span: 1;}
.group-title-approval-files {-ms-grid-row: 6;-ms-grid-row-span: 1;}
.group-title-inventory-management {-ms-grid-row: 7;-ms-grid-row-span: 1;}


/* Desktop */
@media only screen and (min-width: 768px) {
    .group-action-items {grid-column-start: 1;grid-column-end: 6;grid-row-start: 1;grid-row-end: 1;-ms-grid-column: 1;-ms-grid-column-span: 5;-ms-grid-row: 1;-ms-grid-row-span: 1;}
    .group-title-direct {grid-column-start: 7;grid-column-end: 7;grid-row-start: 1;grid-row-end: 1;-ms-grid-column: 7;-ms-grid-column-span: 1;-ms-grid-row: 1;-ms-grid-row-span: 1;}
    .group-title-stock-search {grid-column-start: 1;grid-column-end: 6;grid-row-start: 2;grid-row-end: 2;-ms-grid-column: 1;-ms-grid-column-span: 5;-ms-grid-row: 2;-ms-grid-row-span: 1;}
    .group-submit-to-dmv {grid-column-start: 7;grid-column-end: 7;grid-row-start: 2;grid-row-end: 2;-ms-grid-column: 7;-ms-grid-column-span: 1;-ms-grid-row: 2;-ms-grid-row-span: 1;}
    .group-title-work-only {grid-column-start: 1;grid-column-end: 6;grid-row-start: 3;grid-row-end: 3;-ms-grid-column: 1;-ms-grid-column-span: 5;-ms-grid-row: 3;-ms-grid-row-span: 1;}
    .group-title-approval-files {grid-column-start: 7;grid-column-end: 7;grid-row-start: 3;grid-row-end: 3;-ms-grid-column: 7;-ms-grid-column-span: 1;-ms-grid-row: 3;-ms-grid-row-span: 1;}
    .group-title-inventory-management {grid-column-start: 1;grid-column-end: 8;grid-row-start: 4;grid-row-end: 4;-ms-grid-column: 1;-ms-grid-column-span: 7;-ms-grid-row: 4;-ms-grid-row-span: 1;}

    .group-tiles {display: grid;display: -ms-grid;grid-template-rows: auto;-ms-grid-rows: auto;}
    .group-tiles > div {grid-column: span 1 / auto;-ms-grid-column: 1;}
    .group-tiles > div:nth-child(1) {grid-column-start: 1;-ms-grid-column: 1;-ms-grid-column-span: 1;-ms-grid-row: 1;}
    .group-tiles > div:nth-child(2) {grid-column-start: 3;-ms-grid-column: 3;-ms-grid-column-span: 1;-ms-grid-row: 1;}
    .group-tiles > div:nth-child(3) {grid-column-start: 5;-ms-grid-column: 5;-ms-grid-column-span: 1;-ms-grid-row: 1;}
    .group-tiles > div:nth-child(4) {grid-column-start: 1;-ms-grid-column: 1;-ms-grid-column-span: 1;-ms-grid-row: 2;}
    .group-tiles > div:nth-child(5) {grid-column-start: 3;-ms-grid-column: 3;-ms-grid-column-span: 1;-ms-grid-row: 2;}
    .group-tiles > div:nth-child(6) {grid-column-start: 5;-ms-grid-column: 5;-ms-grid-column-span: 1;-ms-grid-row: 2;}

}



/*****************Page Tiles Content***************/
.page-tile {box-shadow:0 0 1rem rgba(0,0,0,.1);background:#fff;border-top:3px solid #C90107;padding:0;margin-bottom:2rem;margin:0;padding: 0;margin-bottom:15px;}
.page-tile .page-tile-head,
.page-tile .page-tile-body {padding:1.5rem;}
.page-tile .page-tile-head {background:#f2f2f2}
.page-tile .page-tile-head h3, .page-tile .page-tile-head h4, .page-tile .page-tile-head h5 {margin:0;line-height:1.3;}
.page-tile .page-tile-body {height: calc(100% - 6rem);}

.page-tile a {font-weight: 600;}
.page-tile a:hover {text-decoration: none;}
.page-tile a.pending {color:#1D67B2;}
.page-tile a.failed {color:#C90107;}
.page-tile .link-alert {color:#c90107; font-weight: 600;}

.data-table tr:nth-child(odd),
.data-table tr:nth-child(even) {background: #fff;}
.data-table tr:last-child {border-bottom:0;}
.data-table th:not(:nth-child(1)),
.data-table td:not(:nth-child(1)) {text-align: center;}

.data-chart {display: flex;flex-direction: row;}
.data-chart .col-total,
.data-chart .col-chart,
.data-chart .col-alert {flex-grow: 1;}
.data-chart .col-total {display: flex;align-items: center;width:10%;}
.data-chart .col-chart {min-width: 7rem;max-width: 35%;}
.data-chart .col-alert {width:30%;padding-left:2%;}
.data-chart .col-alert .link-alert {text-align:center;width:100%;display:inline-block;}

.data-chart .title-status label {
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1rem;
}
.data-chart .title-status label:after {content: '';width: 10px;height: 10px;display: block;left: -15px;top: -10px;position: relative;}
.data-chart .title-status hr {margin: 5px 0;}
.data-chart .title-status.count label{padding: 0;margin:0;}
.data-chart .title-status.count label ~ a {font-size: 3.6rem;float: left;line-height: 1.15;}

.data-chart .title-status.count label:after {background-color: #607d8b;background-color:transparent;}
.data-chart .title-status.low-alert label:after {background-color: #f5a623;}
.data-chart .title-status.high-alert label:after {background-color: #c90107;}



/*custom*/
.page-tile .page-tile-head {padding-right: 6rem;}
.page-tile .page-tile-head .badge {position:absolute;top:0;right:0;margin:1.5rem;}
.data-table {margin: 0 0 2rem 0;}
.data-table td:first-child, .data-table th:first-child {width: auto;}
.data-table td, .data-table th {padding: 1rem 1.5rem 1rem 0rem;width: 13rem;}

.page-filters {transition: all 0.5s ease;position: absolute;height: 100%;width: 18%;left: 0;opacity: 0;margin-right: 2%;top:10rem;}
.page-filter-group:not(:first-child) {border-top: 1px dashed #ccc;}
.page-filter-group > span {display: inline-block;width: 100%;}
.page-filter-group .btn {margin: 1rem 0 0 0;}
.page-filter-group .checkbox-group {overflow: hidden;transition: all 0.5s ease;}
.page-filter-group > a {margin: 0;display: inline-block;width: 100%;}
.page-filter-group > a:hover {text-decoration: none;}
.page-filter-group > a .icon {width: 1rem;}
.page-filter-group.expand-active .checkbox-group {max-height: none !important;}

.filter-active .page-filters {opacity: 1;} 
.filter-active .page-tiles {width: 80%;}

.graph-container {width: 250px;height: 10px;overflow: hidden;}
.graph-container canvas {background: #f2f2f2;position: absolute;top: -100px;}



/*KENDO DATEPICKER IN ADVANCE SEARCH*/
#adsAssignmentDate_From_dateview,
#adsAssignmentDate_To_dateview {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #373a3c;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  background: #fff;
  border-color: #ccc;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
}
#adsAssignmentDate_From_dateview a,
#adsAssignmentDate_To_dateview a {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #373a3c;
}
#adsAssignmentDate_From_dateview .k-picker-wrap.k-state-default,
#adsAssignmentDate_To_dateview .k-picker-wrap.k-state-default,
#adsAssignmentDate_From_dateview .k-picker-wrap.k-state-default input,
#adsAssignmentDate_To_dateview .k-picker-wrap.k-state-default input {
  height: 100%;
  border: none;
  box-sizing: border-box;
}
#adsAssignmentDate_From_dateview .k-datepicker span.k-select,
#adsAssignmentDate_To_dateview .k-datepicker span.k-select,
#adsAssignmentDate_From_dateview .k-datepicker span.k-select,
#adsAssignmentDate_To_dateview .k-datepicker span.k-select {
  border-radius: 0px;
}
#adsAssignmentDate_From_dateview .k-datepicker span.k-select:hover,
#adsAssignmentDate_To_dateview .k-datepicker span.k-select:hover {
  background: #f4f4f4;
}
#adsAssignmentDate_From_dateview.k-group,
#adsAssignmentDate_To_dateview.k-group {
  border-top: 3px solid #C90107;
  padding: 10px 20px;
}
#adsAssignmentDate_From_dateview .k-calendar .k-content,
#adsAssignmentDate_To_dateview .k-calendar .k-content {
  border-collapse: collapse;
}
#adsAssignmentDate_From_dateview .k-calendar .k-content th,
#adsAssignmentDate_To_dateview .k-calendar .k-content th {
  border: 0;
}
#adsAssignmentDate_From_dateview .k-calendar .k-content td,
#adsAssignmentDate_To_dateview .k-calendar .k-content td {
  border: 1px solid #e4e4e4;
  background: #fff;
}
#adsAssignmentDate_From_dateview .k-calendar .k-content td.k-other-month a,
#adsAssignmentDate_To_dateview .k-calendar .k-content td.k-other-month a {
  color: #a1a1a1;
}
#adsAssignmentDate_From_dateview .k-calendar .k-content td.k-state-focused,
#adsAssignmentDate_To_dateview .k-calendar .k-content td.k-state-focused,
#adsAssignmentDate_From_dateview .k-calendar .k-content td.k-state-hover,
#adsAssignmentDate_To_dateview .k-calendar .k-content td.k-state-hover {
  background: #ebebeb;
}
#adsAssignmentDate_From_dateview .k-calendar .k-state-focused,
#adsAssignmentDate_To_dateview .k-calendar .k-state-focused {
  background: #222222 !important;
  border: 0 !important;
}
#adsAssignmentDate_From_dateview .k-calendar .k-state-focused .k-link,
#adsAssignmentDate_To_dateview .k-calendar .k-state-focused .k-link {
  color: #fff;
  background: #222222 !important;
  border: 0 !important;
}
#adsAssignmentDate_From_dateview .k-datepicker .k-picker-wrap,
#adsAssignmentDate_To_dateview .k-datepicker .k-picker-wrap {
  padding: 0 30px 0 0;
}
#adsAssignmentDate_From_dateview .k-dropdown-wrap.k-state-default,
#adsAssignmentDate_To_dateview .k-dropdown-wrap.k-state-default {
  text-transform: none;
  font-weight: 400;
  height: 100%;
  border: none;
  letter-spacing: 0;
  box-sizing: border-box;
  padding: 0 30px 0 0;
}
#adsAssignmentDate_From_dateview.k-popup .k-list .k-item,
#adsAssignmentDate_To_dateview.k-popup .k-list .k-item {
  padding: 5px 10px;
  height: 36px;
  box-sizing: border-box;
  align-items: center;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #ddd;
}
#adsAssignmentDate_From_dateview.k-popup.k-list-container,
#adsAssignmentDate_To_dateview.k-popup.k-list-container {
  padding: 0;
}
#adsAssignmentDate_From_dateview .k-dropdown .k-input,
#adsAssignmentDate_To_dateview .k-dropdown .k-input {
  padding: 0;
}
#adsAssignmentDate_From_dateview .k-header .k-link:hover,
#adsAssignmentDate_To_dateview .k-header .k-link:hover {
  background-color: #ebebeb;
}
#adsAssignmentDate_From_dateview .k-header .k-link.k-state-focused,
#adsAssignmentDate_To_dateview .k-header .k-link.k-state-focused {
  background: transparent;
}
#adsAssignmentDate_From_dateview .k-header.form-control,
#adsAssignmentDate_To_dateview .k-header.form-control {
  margin-top: 0;
}
#adsAssignmentDate_From_dateview .k-header .k-icon,
#adsAssignmentDate_To_dateview .k-header .k-icon {
  background-image: url(../../Images/ASAP/asap-bg-icons.svg);
}
#adsAssignmentDate_From_dateview .k-header .k-icon.k-i-arrow-w,
#adsAssignmentDate_To_dateview .k-header .k-icon.k-i-arrow-w {
  background-position: 0px -170px;
  background-size: 100px;
}
#adsAssignmentDate_From_dateview .k-header .k-icon.k-i-arrow-e,
#adsAssignmentDate_To_dateview .k-header .k-icon.k-i-arrow-e {
  background-position: 0px -198px;
  background-size: 100px;
}
#adsAssignmentDate_From_dateview .k-list .k-item,
#adsAssignmentDate_To_dateview .k-list .k-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  transition: border .2s ease, background .2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#adsAssignmentDate_From_dateview .k-list .k-item span,
#adsAssignmentDate_To_dateview .k-list .k-item span {
  display: flex;
}
#adsAssignmentDate_From_dateview .k-list .k-item span.shortcut,
#adsAssignmentDate_To_dateview .k-list .k-item span.shortcut {
  font-weight: 700;
  min-width: 45px;
  flex: none;
}
#adsAssignmentDate_From_dateview .k-list .k-item span.name,
#adsAssignmentDate_To_dateview .k-list .k-item span.name {
  flex-grow: 1;
}
#adsAssignmentDate_From_dateview .k-list .k-item span.group,
#adsAssignmentDate_To_dateview .k-list .k-item span.group {
  font-weight: 400;
  font-size: 10px;
  color: #888;
  padding-left: 5px;
}
#adsAssignmentDate_From_dateview .k-list .k-item.k-state-focused span.group,
#adsAssignmentDate_To_dateview .k-list .k-item.k-state-focused span.group {
  color: #ddd;
}
#adsAssignmentDate_From_dateview .k-group-header,
#adsAssignmentDate_To_dateview .k-group-header {
  border-top: 3px solid #C90107;
  border-bottom: 1px solid #ddd;
}
#adsAssignmentDate_From_dateview .k-list-container .no-results,
#adsAssignmentDate_To_dateview .k-list-container .no-results {
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  display: none;
}
#adsAssignmentDate_From_dateview .k-list-container .no-results.active,
#adsAssignmentDate_To_dateview .k-list-container .no-results.active {
  display: flex;
}
#adsAssignmentDate_From_dateview .k-list-container .no-results button,
#adsAssignmentDate_To_dateview .k-list-container .no-results button {
  color: #187fc7;
  background: transparent;
  border: 0;
  cursor: pointer;
}
#adsAssignmentDate_From_dateview .k-list-container .no-results button .icon,
#adsAssignmentDate_To_dateview .k-list-container .no-results button .icon {
  top: 2px;
  margin: 0 2.5px 0 0;
  position: relative;
  fill: #187fc7;
  width: 15px;
  height: 15px;
}
#adsAssignmentDate_From_dateview .k-grid,
#adsAssignmentDate_To_dateview .k-grid {
  overflow: hidden;
}
#adsAssignmentDate_From_dateview .k-grid.k-widget,
#adsAssignmentDate_To_dateview .k-grid.k-widget {
  border: 1px solid #ddd;
}
#adsAssignmentDate_From_dateview .k-grid-content-locked,
#adsAssignmentDate_To_dateview .k-grid-content-locked {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border: none;
}
#adsAssignmentDate_From_dateview div.k-grid-header-locked,
#adsAssignmentDate_To_dateview div.k-grid-header-locked {
  z-index: 120;
  border: none;
}
#adsAssignmentDate_From_dateview .k-grid tr td,
#adsAssignmentDate_To_dateview .k-grid tr td {
  border: none;
}
#adsAssignmentDate_From_dateview .col-img img,
#adsAssignmentDate_To_dateview .col-img img {
  width: 90px;
}
#adsAssignmentDate_From_dateview .k-grid td,
#adsAssignmentDate_To_dateview .k-grid td {
  padding: 15px;
  position: relative;
  line-height: 1.4;
  vertical-align: top;
}
#adsAssignmentDate_From_dateview .modal-body img,
#adsAssignmentDate_To_dateview .modal-body img {
  width: 100%;
}
#adsAssignmentDate_From_dateview .k-grid-header th.k-header,
#adsAssignmentDate_To_dateview .k-grid-header th.k-header {
  padding: 15px;
  border: none;
}
#adsAssignmentDate_From_dateview .k-grid-header th.k-header > .k-link,
#adsAssignmentDate_To_dateview .k-grid-header th.k-header > .k-link,
#adsAssignmentDate_From_dateview .k-grouping-header .k-group-indicator a,
#adsAssignmentDate_To_dateview .k-grouping-header .k-group-indicator a,
#adsAssignmentDate_From_dateview .k-grid-header th.k-header,
#adsAssignmentDate_To_dateview .k-grid-header th.k-header {
  font-weight: 700;
  color: #434343;
  line-height: 2;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 10px;
  padding-right: 0;
}
#adsAssignmentDate_From_dateview .k-grid-header th.k-header:last-of-type,
#adsAssignmentDate_To_dateview .k-grid-header th.k-header:last-of-type {
  padding-right: 10px;
  border-right: none;
}
#adsAssignmentDate_From_dateview .k-pager-wrap,
#adsAssignmentDate_To_dateview .k-pager-wrap,
#adsAssignmentDate_From_dateview .k-grid-header,
#adsAssignmentDate_To_dateview .k-grid-header,
#adsAssignmentDate_From_dateview .k-header,
#adsAssignmentDate_To_dateview .k-header {
  background-color: #fff;
  border-color: transparent;
  color: #222;
  z-index: 120;
}
#adsAssignmentDate_From_dateview .k-pager-info,
#adsAssignmentDate_To_dateview .k-pager-info {
  padding: 0;
}
#adsAssignmentDate_From_dateview .k-pager-info,
#adsAssignmentDate_To_dateview .k-pager-info,
#adsAssignmentDate_From_dateview .k-pager-sizes.k-label,
#adsAssignmentDate_To_dateview .k-pager-sizes.k-label {
  font-weight: 700;
  color: #434343;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 30px;
  display: block;
  width: auto;
}
#adsAssignmentDate_From_dateview .k-pager-sizes.k-label,
#adsAssignmentDate_To_dateview .k-pager-sizes.k-label {
  float: left;
}
#adsAssignmentDate_From_dateview .k-pager-sizes.k-label .k-widget,
#adsAssignmentDate_To_dateview .k-pager-sizes.k-label .k-widget {
  font-size: 14px;
}
#adsAssignmentDate_From_dateview .k-grouping-header .k-group-indicator,
#adsAssignmentDate_To_dateview .k-grouping-header .k-group-indicator,
#adsAssignmentDate_From_dateview .k-drag-clue,
#adsAssignmentDate_To_dateview .k-drag-clue {
  border-radius: 3px;
  border-color: #ccc;
}
#adsAssignmentDate_From_dateview .k-grouping-header .k-group-indicator .k-link,
#adsAssignmentDate_To_dateview .k-grouping-header .k-group-indicator .k-link,
#adsAssignmentDate_From_dateview .k-grouping-header .k-group-indicator .k-button,
#adsAssignmentDate_To_dateview .k-grouping-header .k-group-indicator .k-button {
  margin: 0;
}
#adsAssignmentDate_From_dateview .k-grouping-row td,
#adsAssignmentDate_To_dateview .k-grouping-row td,
#adsAssignmentDate_From_dateview td.k-group-cell,
#adsAssignmentDate_To_dateview td.k-group-cell {
  border-color: #f2f2f2;
  border-bottom-color: #ddd;
  background-color: #f2f2f2;
  height: inherit !important;
}
#adsAssignmentDate_From_dateview .k-pager-wrap .k-dropdown,
#adsAssignmentDate_To_dateview .k-pager-wrap .k-dropdown {
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 30px;
  top: -1px;
  overflow: hidden;
}
#adsAssignmentDate_From_dateview .k-pager-wrap > .k-link,
#adsAssignmentDate_To_dateview .k-pager-wrap > .k-link {
  height: 30px;
  min-width: 30px;
}
#adsAssignmentDate_From_dateview .k-menu .k-item,
#adsAssignmentDate_To_dateview .k-menu .k-item {
  border: none;
}
#adsAssignmentDate_From_dateview .k-popup .k-list .k-item:hover,
#adsAssignmentDate_To_dateview .k-popup .k-list .k-item:hover {
  background: #ebebeb;
  border-left: 3px solid #ccc;
}
#adsAssignmentDate_From_dateview .k-popup .k-list .k-item.k-state-selected:hover,
#adsAssignmentDate_To_dateview .k-popup .k-list .k-item.k-state-selected:hover,
#adsAssignmentDate_From_dateview .k-popup .k-list .k-item.k-state-focused:hover,
#adsAssignmentDate_To_dateview .k-popup .k-list .k-item.k-state-focused:hover {
  background: #434343;
}
#adsAssignmentDate_From_dateview .k-menu .k-item > .k-link,
#adsAssignmentDate_To_dateview .k-menu .k-item > .k-link {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 36px;
  border-top: 1px solid #ccc;
  transition: background .2s ease;
}
#adsAssignmentDate_From_dateview .k-menu .k-item > .k-link:hover,
#adsAssignmentDate_To_dateview .k-menu .k-item > .k-link:hover {
  background: #ebebeb;
  color: #434343;
}
#adsAssignmentDate_From_dateview .k-filter-menu .k-dropdown-wrap.k-state-default,
#adsAssignmentDate_To_dateview .k-filter-menu .k-dropdown-wrap.k-state-default {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px 0;
  box-sizing: border-box;
  height: 36px;
}
#adsAssignmentDate_From_dateview .k-dropdown .k-input,
#adsAssignmentDate_To_dateview .k-dropdown .k-input {
  display: flex;
  align-items: center;
}
#adsAssignmentDate_From_dateview form.k-filter-menu div:after,
#adsAssignmentDate_To_dateview form.k-filter-menu div:after {
  display: table;
  clear: both;
  content: "";
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-textbox,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-textbox {
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.25s;
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-textbox:hover,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-textbox:hover {
  background: #f3f8fc;
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-textbox:focus,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-textbox:focus {
  border-color: #187fc7;
  background: #f3f8fc;
  outline: 0;
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-button,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-button {
  padding: 0 20px;
  margin: 10px 10px 0 0;
  display: flex;
  width: auto;
  float: left;
  align-items: center;
  transition: color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  font-weight: 700;
  height: 36px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #888;
  color: #666;
  background: #fff;
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-button:hover,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-button:hover {
  background: #eee;
  color: #888;
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-button.k-primary,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-button.k-primary {
  color: #ffffff;
  background: #0C8346;
  border: none;
  background-image: -webkit-linear-gradient(top, #0c8346, #0a6f3c);
  background-image: -moz-linear-gradient(top, #0c8346, #0a6f3c);
  background-image: -ms-linear-gradient(top, #0c8346, #0a6f3c);
  background-image: -o-linear-gradient(top, #0c8346, #0a6f3c);
  background-image: linear-gradient(to bottom, #0c8346, #0a6f3c);
}
#adsAssignmentDate_From_dateview form.k-filter-menu .k-button.k-primary:hover,
#adsAssignmentDate_To_dateview form.k-filter-menu .k-button.k-primary:hover {
  color: rgba(255, 255, 255, 0.75);
  background: #0a6f3c;
  text-decoration: none;
}
#adsAssignmentDate_From_dateview input.k-textbox,
#adsAssignmentDate_To_dateview input.k-textbox {
  height: 30px;
  line-height: 1;
  padding: 0;
  top: -1px;
  box-sizing: content-box;
}
#adsAssignmentDate_From_dateview .k-footer,
#adsAssignmentDate_To_dateview .k-footer {
  background: #f4f4f4;
}


.k-button.k-state-focused,
.k-grid-header th.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-state-focused, 
td.k-state-focused,
.k-grid-header th.k-header,
.k-grid .k-grid-header,
.k-grid .k-header:hover,
.k-grid .k-header.k-state-focused,
.k-grid .k-header.k-state-focused:hover {
    background: #e4e4e4;
    box-shadow:none;
}

/*.k-grid-header th.k-header > .k-link, .k-grouping-header .k-group-indicator a, .k-grid-header th.k-header {
    padding-right:1.5rem;
}*/

/*.k-grid .k-grid-content .k-state-selected {
    text-shadow: none;
}
.k-grid .k-grid-content td {
    background: transparent;
}

.k-grid .k-grid-content .k-state-selected td,
.k-grid .k-grid-content .k-state-selected .k-state-focused,
.k-grid .k-grid-content .k-state-selected .k-state-hover
.k-grid .k-grid-content .k-state-selected #kendoTable_active_cell {
    border-radius: 0;
    box-shadow: none !important;
    background: transparent !important;
}*/

.k-grid .k-grid-content .k-state-selected {background-color: #fff;}
.k-grid .k-grid-content .k-alt.k-state-selected {background-color: #f4f4f4;}

.k-grid .k-grid-content td,
.k-grid .k-grid-content .k-state-selected td,
.k-grid .k-grid-content .k-state-selected td.k-state-focused {
    text-shadow: none;
    background-color: transparent !important;
    background: transparent !important;
    border-radius: 0;
    box-shadow: none !important;
    color:#333;
}

.k-header > .k-grid-filter, .k-header > .k-header-column-menu {
    float: right;
    margin: -.5em -.6em -.4em;
    padding: .7em .2em;
    position: relative;
    z-index: 1;
}

.k-grid-header th.k-header {
    padding: 1.5rem;
    border: none;
    height: auto;
    overflow: visible;
    white-space: normal;
    vertical-align: text-top;
}




/*temporary*/
/*.group-title-approval-files .page-tile:nth-of-type(2),
.group-title-approval-files .page-tile:nth-of-type(3),
.group-tiles > div:nth-child(2),
.group-title-stock-search,
.group-title-work-only {
    display: none;
}

.group-tiles > div:nth-child(1) {
    grid-column: span 3 / auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
}

@media only screen and (min-width: 768px) {

    .group-submit-to-dmv {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }
    .group-title-approval-files {
        grid-column-start: 7;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
        -ms-grid-column: 7;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }
    .group-title-inventory-management {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }
    .group-title-inventory-management {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }
}*/



