.asap-bootstrap-select {
  /*Dropdown Toggle*/
  /*Caret*/
  /*Glyphicon*/
  /*Dropdown*/
  /***********/
}
.asap-bootstrap-select .hidden {
  display: none!important;
}
.asap-bootstrap-select * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.asap-bootstrap-select button,
.asap-bootstrap-select input,
.asap-bootstrap-select optgroup,
.asap-bootstrap-select select,
.asap-bootstrap-select textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
.asap-bootstrap-select button {
  overflow: visible;
}
.asap-bootstrap-select button,
.asap-bootstrap-select select {
  text-transform: none;
}
.asap-bootstrap-select button,
.asap-bootstrap-select input[type=button],
.asap-bootstrap-select input[type=reset],
.asap-bootstrap-select input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
.asap-bootstrap-select button,
.asap-bootstrap-select input,
.asap-bootstrap-select select,
.asap-bootstrap-select textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.asap-bootstrap-select [role=button] {
  cursor: pointer;
}
.asap-bootstrap-select .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.asap-bootstrap-select .btn-group-vertical > .btn,
.asap-bootstrap-select .btn-group > .btn {
  position: relative;
  float: left;
}
.asap-bootstrap-select .btn-default.active,
.asap-bootstrap-select .btn-default.focus,
.asap-bootstrap-select .btn-default:active,
.asap-bootstrap-select .btn-default:focus,
.asap-bootstrap-select .btn-default:hover,
.asap-bootstrap-select .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.asap-bootstrap-select .btn-default.active,
.asap-bootstrap-select .btn-default:active,
.asap-bootstrap-select .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.asap-bootstrap-select .btn-group > .btn:first-child {
  margin-left: 0;
}
.asap-bootstrap-select .btn-group .dropdown-toggle:active,
.asap-bootstrap-select .btn-group.open .dropdown-toggle {
  outline: 0;
}
.asap-bootstrap-select .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.asap-bootstrap-select .dropdown-toggle {
  width: 100%;
}
.asap-bootstrap-select .btn .caret {
  margin-left: 0;
}
.asap-bootstrap-select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.asap-bootstrap-select .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.asap-bootstrap-select .glyphicon-ok:before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M18 3.498L9.23 14.255l-2 2.613-2.46-2.152L0 10.876 2.154 8.26l4.615 3.996L15.384 1.5 18 3.498z' fill='%23238723'/%3E%3C/svg%3E") 0.1rem 0.1rem no-repeat;
  background-size: 1.6rem 1.6rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s ease;
}
.asap-bootstrap-select .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.asap-bootstrap-select .open > .dropdown-menu {
  display: block;
}
.asap-bootstrap-select .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.asap-bootstrap-select .dropdown-menu > .active > a,
.asap-bootstrap-select .dropdown-menu > .active > a:focus,
.asap-bootstrap-select .dropdown-menu > .active > a:hover {
  text-decoration: none;
  outline: 0;
  border: 0;
}
.asap-bootstrap-select .bootstrap-select {
  width: 100% !important;
}
.asap-bootstrap-select .dropdown-menu > li > a:focus,
.asap-bootstrap-select .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: #fff;
  border-left: 0;
}
.asap-bootstrap-select .dropdown-menu > li > a {
  display: block;
  padding: .8rem 1.2rem;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.asap-bootstrap-select .bootstrap-select.btn-group .dropdown-menu li a.opt {
  padding: .5em 1em;
}
.asap-bootstrap-select .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  right: 2.5em;
  top: .25rem;
}
